@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 14% 95%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 136 25% 25%;
    --primary-foreground: 140 14% 98%;
    --secondary: 136 25% 25%;
    --secondary-foreground: 140 14% 98%;
    --muted: 140 10% 90%;
    --muted-foreground: 0 0% 20%;
    --accent: 136 25% 25%;
    --accent-foreground: 140 14% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 10% 85%;
    --input: 140 10% 85%;
    --ring: 136 25% 25%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}