
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 14% 95%;
    --foreground: 136 25% 15%;
    --card: 0 0% 100%;
    --card-foreground: 136 25% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 136 25% 15%;
    --primary: 136 25% 32%;
    --primary-foreground: 140 14% 98%;
    --secondary: 103 53% 63%;
    --secondary-foreground: 136 25% 10%;
    --muted: 140 10% 90%;
    --muted-foreground: 136 10% 40%;
    --accent: 103 53% 63%;
    --accent-foreground: 136 25% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 10% 85%;
    --input: 140 10% 85%;
    --ring: 136 25% 32%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
